* {
  margin: 0;
  padding: 0;
}

$background-color: rgb(228, 228, 228);
$background-color-green: rgb(1, 202, 1);
$negative-background-color: rgb(204, 1, 1);

body {
  font-family: Poppins, sans-serif;
  background-color: rgb(250, 250, 250);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgba(202, 202, 202, 0.3);
  h1 {
    font-size: 2.5rem;
  }
  .client {
    display: flex;
    svg {
      width: 2rem;
      height: auto;
      cursor: pointer;
      margin-left: 0.5rem;
    }
    .cart {
      display: flex;
      align-items: baseline;
      .hidden {
        position: sticky;
        bottom: 0;
        width: 0.5rem;
        height: 0.5rem;
        background-color: red;
        border-radius: 50%;
        opacity: 0;
      }
    }
  }
}
main {
  .cart-container {
    display: none;
    justify-content: flex-end;
    .cart-content {
      position: absolute;

      display: flex;
      flex-direction: column;
      width: 250px;
      padding: 0.8rem;

      background-color: rgba(180, 180, 180, 0.6);
      border-bottom-left-radius: 20%;
      .products {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .remove:hover {
          cursor: pointer;
          fill: red;
        }
      }

      .finish {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;

        .buy {
          cursor: pointer;
          font-size: 1rem;
          outline: none;
          background-color: $background-color-green;
          padding: 0.5rem 0.7rem;
          border-radius: 0.5rem;
          border: none;
        }
      }
    }
  }
  .content {
    margin: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem;
    .pizza {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .pizza-image {
        width: 250px;
        cursor: pointer;
      }
      .pizza-description {
        margin-top: 0.5rem;
        svg {
          width: 2.5rem;
          fill: $background-color-green;
          cursor: pointer;
        }
      }
    }
  }
  .modal {
    background-color: rgba(0, 0, 0, 40%);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;

    .modal-container {
      padding: 2rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      margin: 2rem;
      border-radius: 0.5rem;

      justify-content: center;

      .close-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 1rem;
        svg {
          cursor: pointer;
          &:hover {
            fill: $negative-background-color;
          }
        }
      }

      .modal-content {
        display: flex;
        flex-wrap: wrap;

        gap: 3rem;

        .flavor {
          display: flex;
          flex-direction: column;
          justify-content: center;
          img {
            width: 250px;
          }
        }
        .aside {
          width: 22rem;

          .size {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 1.5rem 0;

            a {
              display: flex;
              align-items: center;
              border: 1px solid gray;
              border-radius: 0.2rem;
              padding: 0.2rem 0.5rem;
              cursor: pointer;
              margin-bottom: 1rem;

              .slice::before {
                content: "-";
              }
              .slice {
                margin-left: 0.2rem;
                color: rgb(75, 75, 75);
              }
              &:hover {
                opacity: 0.8;
              }
            }
            .active {
              background-color: $background-color-green;
            }
          }
          .price {
            display: flex;
            align-items: center;
            margin: 2rem 0;
            .amount-container {
              margin-left: 2rem;
              display: flex;
              align-items: center;
              .amount {
                border: 1px solid gray;
                border-radius: 0.2rem;
                padding: 0.4rem 0.7rem;
                margin: 0 0.5rem;
                cursor: default;
              }
              svg {
                cursor: pointer;
              }
              .minus:hover {
                &:hover {
                  fill: $negative-background-color;
                }
              }
              .plus:hover {
                fill: $background-color-green;
              }
            }
          }
          .addTo {
            border: 1px solid gray;
            border-radius: 0.2rem;
            background-color: $background-color-green;
            padding: 0.3rem 0.5rem;
            text-align: center;

            cursor: pointer;

            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 792px) {
  main .modal {
    overflow-y: scroll;

    .modal-container {
      margin-top: 20rem;
      width: 250px;

      .modal-content {
        justify-content: center;
      }
    }
  }
}
